.App {
  text-align: center;
  margin: 0 auto;
}

svg{
  height: 200px;
  width: 200px;
}

.search-form {
  width: 1000px;
  margin : 50px auto 25px;
}

.btn-secondary:hover{
  color: #fff;
  background-color: #4933FF;
  border-color: #4933FF
}

td, th{
  text-align: center;
}

th{
  background-color: #4933FF;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 0.2px;
  font-size: 18.5px;
}

td{
  font-weight: lighter;
  letter-spacing: 0.2px;
  font-size: 18.5px;
  vertical-align: middle;
}

.no-data{
  font-weight: lighter;
  letter-spacing: 0.2px;
  font-size: 18.5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
